@media screen and (max-width: 800px) {
    
    main{ 
        margin: 0px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    header{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #name{
        font-size: 0.7em;
        text-align: center;
    }
    header .logo {
        width: 70%;
    }

    #smedia {
        flex-direction: column;
        gap: 10px;
    }

    #smedia img{
        width: 100%;
    }
    
    #hambLinks{
        font-size: 0.8em;
    }

    .today{
        font-size: 0.7em;
        margin: 0px;
        padding: 5px;
    }

    #grid{
        font-size: 0.8em;
    }

    #gallerygrid{
        grid-template-columns: 1fr;
    }

    picture{ text-align: center; margin: 100px 0px 0px 0px;}
    .gallery{
        transition: none;
        width: 75%;
    
    }
    .gallery:hover{
        transform: none;
        border: 5px solid #303f9f
    }
    .gallerydesc{ padding: 0px 50px; text-align: center;}

    #lvisited { text-align: center; margin: 50px;}
    
    #grid{ grid-template-columns: 1fr;}
    
    #hero{
        grid-column: 1/2;
        grid-row: 1/2;
    }

    #hero-msg{
        font-size: 1.2em;
    }

    .joinbutton{
        margin: 10px 0px;
        padding: 0px;
        margin-bottom: 20px;
    
    }
    .joinbutton a {
        padding: 5px;
        border-radius: 10px;
    }

    #event{
        grid-row: 2/3;
    }

    #weather{
        grid-row: 3/4;
    }
    
    #news{
        grid-column: 1/2;
        grid-row: 4/5;
    }

    #spotlight{
        grid-row: 5/6;
        flex-direction: column;
    }
    .spotlights{ width: 90%;}

    #join{
        display: none;
    }

    #formGrid{
        margin: 0px;
        align-content: center;
    }
    
    .businessDescript{
        text-align: center;
        margin: 10px;
    }
   
    
    label{
        display: block;
        text-align: right;
        margin-right: 100px;
        font-size: 0.8em;
    }
    label input{ padding: 15px; margin: 10px; }
    
    
    .radiolist{
    text-align: left;
    margin-left: 100px;
    margin: 10px;
    }

    table{
        font-size: 0.6em;
        margin-left: 10%;
    }

    
    #listview table{
        margin: 0px;
        width: 100%;
        font-size: 0.6em;
    }

    .cards{
        grid-template-columns: 1fr;
    }


    footer{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
        
   footer .logo {
    display: block;
    width: 20%;
   }
   #footername {text-align: center;}



}