@media screen and (max-width: 750px) {

    #name{
        font-size: 0.7em;
    }
    .logo { padding-left: 5%;}

    #smedia {
        flex-direction: column;
        padding: 5%;
    }

    .gallery{
        transition: none;
        width: 75%;
        height: 75%;
    
    }
    .gallery:hover{
        opacity: 1;
        transform: scale(1);
    }

    .today{
        font-size: 0.7em;
        grid-column: 1/5;
        margin: 10px;
        padding: 5px;
    }
    
    #grid{ grid-template-columns: 1fr; }
    
    main{ margin: 3% 5px;}
    
    #hero{
        grid-column: 1/2;
        grid-row: 1/2;
    }

    #hero-msg{
        font-size: 0.7em;
    }

    .joinbutton{
        margin: 10px 0px;
        padding: 0px;
        margin-bottom: 20px;
    
    }
    .joinbutton a {
        padding: 5px;
        border-radius: 10px;
    }

    #event{
        grid-row: 2/3;
    }

    #weather{
        grid-row: 3/4;
    }
    
    #news{
        grid-column: 1/2;
        grid-row: 4/5;
    }

    #spotlight{
        grid-row: 5/6;
        flex-direction: column;
    }
    .spotlights{ width: 90%;}

    #join{
        display: none;
    }


    #formGrid{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        margin: 10px;
    }
    
    
    label{
        display: block;
        text-align: right;
    }
    label input{ padding: 10px; margin: 10px; }
    
    
    .radiolist, .businessDecript, #formGrid h3{
    text-align: left;
    margin-left: 100px;
    margin: 10px;
    }



    footer{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
        
   footer .logo {
    display: block;
    width: 20%;
   }
   #footername {text-align: center;}



}